.hfind-dates-selection {
	height: 70px;
	width: 110px;
	margin: 2px;
	background: #1a1a1a;
	position: relative;
	text-align: center;
}

.hfind-dates-selection__item {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	background: #1a1a1a;
	box-sizing: border-box;
	height: 100%;
	padding-top: 25px;
	color: white;
}

.hfind-dates-selection:hover, .hfind-dates-selection:active  {
	background: #ff8c00;
}
