<span class="block hfind-main-title text-center margin-top-90">
  What would you like to do?
</span>
<span class="block text-center">
  (select as many as you want)
</span>

<ul class="padding-0">
  <li *ngFor="let activity of activities | async" class="inline-block hfind-select-block {{activity.name}}" [ngClass]="{'active': activity.active === true }">
    <input id="choice-{{activity.name}}" (change)="updateActivity(activity.name, activity.active)" [checked]="activity.active" type="checkbox" value="{{activity.name}}">
    <label for="choice-{{activity.name}}" class="hfind-select-item">{{activity.label}}</label>
  </li>
</ul>
