<span class="block hfind-main-title text-center margin-top-90">
  Where would you like to go?
</span>
<span class="block text-center">
  (select as many as you want)
</span>

<ul class="padding-0">
  <li *ngFor="let destination of destinations | async" class="inline-block hfind-select-block {{destination.name}}">
    <input id="choice-{{destination.name}}" (change)="updateDestination(destination.name, destination.active)" [checked]="destination.active" type="checkbox" value="{{destination.name}}">
    <label [ngClass]="{'active': destination.active === true }" for="choice-{{destination.name}}" class="hfind-select-item">{{destination.label}}</label>
  </li>
</ul>
