/* You can add global styles to this file, and also import other style files */

body {
	font-family: 'Open-sans', sans-serif;
	margin: 0;
}

.button {
	font-size: 16px;
	border-radius: 3px;
	padding: 15px 20px;
	font-family: 'Open-Sans',sans-serif;
	font-weight:600;
  display: inline-block;
	cursor: pointer;
}

.button--full {
	width: 100%;
}

.button--fixed {
	position: fixed;
	bottom: 0;
}

/* Primary button */
.primary-btn {
	background: linear-gradient(to top, #ff8c00 0, #ff991d 100%);
	color: #ffffff;
}

.primary-btn:hover {
	background: #ff8c00;
}

.primary-btn:active {
		background: #ff8c00;
		box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.hfind-main-title {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 5px;
}

.hfind-select-block {
	height: 150px;
	width: 150px;
	margin: 18px;
	background: #c1c1c1;
	position: relative;
}

.hfind-back-button {
	position: absolute;
	top: 20px;
	font-size: 14px;
	font-weight: 600;
}

.hfind-logout-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 14px;
	font-weight: 600;
}

.margin-top-90 {
	margin-top: 90px;
}

.hfind-select-item {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	background: #c2c2c2;
	box-sizing: border-box;
	height: 100%;
	padding-top: 60px;
	color: white;
}

.padding-15 {
	padding: 15px;
}

.padding-0 {
	padding: 0;
}



.hfind-dates-selection__item:visited {
	background: #ff8c00;
	color: white;
}

input[type="checkbox"] {
	display:none;
}
