/* You can add global styles to this file, and also import other style files */

body {
	font-family: 'Open-sans', sans-serif;
	margin: 0;
}

.button {
	font-size: 16px;
	padding: 15px 20px;
	font-family: 'Open-Sans',sans-serif;
	font-weight:600;
  display: inline-block;
	cursor: pointer;
	border: none;
}

.button--full {
	width: 100%;
}

.button--fixed {
	position: fixed;
	bottom: 0;
}

/* Primary button */
.primary-btn {
	background: linear-gradient(to top, #ff8c00 0, #ff991d 100%);
	color: #ffffff;
}

.primary-btn:hover {
	background: #ff8c00;
}

.primary-btn:active {
		background: #ff8c00;
		box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.hfind-main-title {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 5px;
}

.hfind-select-block {
	height: 150px;
	width: 150px;
	margin: 18px;
	background: #c1c1c1;
	position: relative;
}

.hfind-back-button {
	position: absolute;
	top: 20px;
	font-size: 14px;
	font-weight: 600;
	border: none;
	background: none;
}

.hfind-logout-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 14px;
	font-weight: 600;
	color: #ff8c00;
}

.margin-top-90 {
	margin-top: 90px;
}

.hfind-select-item {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	box-sizing: border-box;
	height: 100%;
	padding-top: 60px;
	color: white;
	text-shadow: 0px 1px 13px black;
}

.hfind-select-item:hover, .hfind-select-item:active {
	border: 2px solid #ff8c00;
}

.padding-15 {
	padding: 15px;
}

.padding-0 {
	padding: 0;
}

.padding-left-30 {
	padding-left: 30px;
}

input[type="checkbox"] {
	display:none;
}

.hfind-sale-card-img {
	height: 100%;
	width: 100%
}

.hfind-sale-card-vote-cta {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: url(https://s3.amazonaws.com/static.secretescapes.com/abtest/heart-like.png);
	height: 50px;
	width: 50px;
	background-size: contain;
	border: none;
}

.hfind-sale-card-text {
	position: absolute;
	bottom: 0px;
	color: #ffffff;
	font-size: 14px;
	text-shadow: 0px 1px 13px black;
	padding: 0 10px;
	width: 70%;
}

li {
	list-style: none;
}

.europe {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/17114/9d5d431b_e35a_411b_becb_2f4e443450ec.jpg");
	background-size: cover;
}

.london {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/54150/f57871bf_d518_415e_a445_40b6e9a1699c.jpg");
	background-size: cover;
}

.uk {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/40049/291ca87d_1cbc_468b_b136_d58d20fdeead.jpg");
	background-size: cover;
}

.world {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/54198/04379385_6aa0_40bb_bc7f_919cfcc60de9.jpg");
	background-size: cover;
}

.beach {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/42163/db39b1af_223c_419a_a2e2_e09586e11ae1.jpg");
	background-size: cover;
}

.boutique {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/58730/c0f94395_b1bc_4055_902b_8b1d73c1d040.jpg");
	background-size: cover;
}

.city {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/41793/a490dc12_b12d_4062_a80c_53845e66c23a.jpg");
	background-size: cover;
}

.romance {
	background: url("https://d1x3cbuht6sy0f.cloudfront.net/sales/32187/01db8f72_4f36_42ae_b001_359ec5eb16ef.jpg");
	background-size: cover;
}

.any {
	background: url("http://4.bp.blogspot.com/-WvzGhegNT5k/U59P62AO3sI/AAAAAAAAAz0/mxGRqbS6nCs/s1600/shrugging-shoulders.jpg");
	background-size: cover;
}
